APP_NAME=IHRISGov
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE='Asia/Manila'
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel_flowbite
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
PULSE_PATH="monitor"

AGENCY_NAME="Central Intelligence Agency"
APP_LONG_NAME="Intelligent HR Information System"

ADMIN_USER_FIRSTNAME="John"
ADMIN_USER_LASTNAME="Malkovich"
ADMIN_USER_EMAIL="jm@malkovich.ph"

ADMIN_POSITION="Information Technology Officer"
ADMIN_POSITION_PLANTILLA_ACRONYM="ITO1"
ADMIN_POSITION_LETTER_ACRONYM="ITO I"
ADMIN_POSITION_SALARY_GRADE=19

IS_ADMIN_OFFICE_SEPARATE_FROM_HR=TRUE
# IF IS_ADMIN_OFFICE_SEPARATE_FROM_HR is False, the ADMIN_OFFICE_NAME should be the name of the HR office of the agency
ADMIN_OFFICE_NAME="Information Systems Service"
ADMIN_OFFICE_NAME_ACRONYM="ISS"
ADMIN_OFFICE_TYPE=2

# Office Types: 1=Division, 2=OfficeOrLguDepartment, 3=Group, 4=Committee, 5=HeadOffice

# Required if IS_ADMIN_OFFICE_SEPARATE_FROM_HR is True
HR_OFFICE_NAME="Human Resource Management Office"
HR_OFFICE_ACRONYM=HRMO
HR_OFFICE_TYPE=2

AGENCY_IDENTIFIER_CODE=CIA
AGENCY_ACRONYM=CIA
AGENCY_URL="cia.gov"


ACTIVITY_LOGGER_TABLE_NAME=activitylog 
ACTIVITY_LOGGER_DB_CONNECTION=mysql

AUTH_PASSWORD_TIMEOUT=10800





GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=